**Assignment Questions**

1. What are data structures, and why are they important?
Data structures are ways to store and organize data for efficient use.
They are important because they help in managing large amounts of data quickly, enabling better performance in searching, sorting, and modifying data.

2. Difference between mutable and immutable data types (with examples):
Mutable = Can be changed after creation (e.g., list, dict, set)

In [1]:
my_list = [1, 2, 3]  
my_list[0] = 100  # Changed

Immutable = Cannot be changed after creation (e.g., int, str, tuple)

In [2]:
my_str = "hello"  
my_str[0] = "H"  # Error

TypeError: 'str' object does not support item assignment

3. Main differences between lists and tuples in Python:

 Feature      List          Tuple                
 -----------  ------------  -------------------- 
 Mutable      Yes            No                 
 Syntax       `[1, 2, 3]`   `(1, 2, 3)`          
 Performance  Slower        Faster               
 Use case     Dynamic data  Fixed/read-only data

4. How dictionaries store data:
Dictionaries store data in key-value pairs using a hash table internally. Each key is unique and is hashed to store and retrieve values efficiently.

In [3]:
person = {"name": "Neha", "age": 25}
print(person)

{'name': 'Neha', 'age': 25}

5. Why use a set instead of a list in Python:
Sets remove duplicates automatically

Faster lookup due to hashing

In [5]:
my_list = [1, 2, 2, 3]
print(my_list)

[1, 2, 2, 3]

In [6]:
my_set = set(my_list)  # {1, 2, 3}
print(my_set)

{1, 2, 3}

In [ ]:
6. What is a string in Python, and how is it different from a list?
String: A sequence of characters, immutable.
List: A sequence of items, mutable.

In [7]:
s = "hello"  # Immutable
s[0]="R"
print(s[0])

TypeError: 'str' object does not support item assignment

In [9]:
# List: A sequence of items, mutable.
l = ['h', 'e', 'l', 'l', 'o']  # Mutable
l[0]="R"
print(l)

['R', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?
Because tuples are immutable, the data inside them cannot be changed accidentally, which protects data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that maps keys to values using a hash function.
Python's dict uses a hash table under the hood for fast access to values by keys.

9. Can lists contain different data types in Python?
Yes. Lists in Python can store mixed data types.

In [10]:
my_list = [1, "hello", 3.14, [5, 6]]
type(my_list)

list

10. Why are strings immutable in Python?
To make strings safe and fast

Enables hashing, so strings can be used as dict keys

11. Advantages of dictionaries over lists:
Faster lookup by key (O(1))

More meaningful data with key-value pairs

12. Scenario where using a tuple is better than a list:
Storing GPS coordinates (latitude, longitude) that should not change:

In [12]:
# Coordinates of a fixed GPS location
location = (28.6139, 77.2090)  # Delhi's latitude and longitude
print(location)

(28.6139, 77.209)

In [13]:
months = ("January", "February", "March", ...)  #Cause It's Immutable also
directions = ("North", "South", "East", "West")  
print(months,directions)

('January', 'February', 'March', Ellipsis) ('North', 'South', 'East', 'West')

13. How do sets handle duplicate values in Python?
Duplicates are automatically removed.

In [14]:
s = set([1, 2, 2, 3])  # {1, 2, 3}
print(s)

{1, 2, 3}

In [ ]:
14. How does the “in” keyword work for lists vs dictionaries?
List: Checks if a value exists

In [15]:
3 in [1, 2, 3]

True

Dict: Checks if a key exists

In [16]:
"name" in {"name": "Neha"}

True

15. Can you modify tuple elements? Why/why not?
No. Tuples are immutable, so you cannot change, add, or remove elements.

16. What is a nested dictionary? Example use case:
A dictionary inside a dictionary.
Useful for structured data like student records:

In [19]:
students = {
  "001": {"name": "Neha", "age": 20},
  "002": {"name": "Amit", "age": 21}
}
type(students)

dict

In [20]:
type(students["001"])

dict

In [21]:
print(students)

{'001': {'name': 'Neha', 'age': 20}, '002': {'name': 'Amit', 'age': 21}}

17. Time complexity of accessing elements in a dictionary:
O(1) on average (hashing)

18. When are lists preferred over dictionaries?
When order matters
When data doesn’t need key-value structure
When you're working with simple sequences

In [22]:
# for Songs Don't Need keys Directly Download songs with this name
playlist = ["Song A", "Song B", "Song C"]
print(playlist)

['Song A', 'Song B', 'Song C']

In [23]:
# Need key-value structure who's number is this?
phonebook = {"Riya": "9876543210", "Seha": "8765432109"}
print(phonebook)

{'Riya': '9876543210', 'Seha': '8765432109'}

19. Why are dictionaries considered unordered (before Python 3.7)?
Earlier versions didn’t maintain insertion order.
Now in Python 3.7+, they do, but conceptually, dictionaries still don’t rely on order for data retrieval.

20. Difference between list and dictionary in data retrieval:
List: Access by index → my_list[0]

Dict: Access by key → my_dict["name"]

Dicts are better when you need meaningful labels for data.

In [25]:
# List: Access by index → my_list[0]
list=["Neha","Yunsu","Seha"]
print(list[1]) #data access

Yunsu

In [30]:
# Dict: Access by key → my_dict["name"]
student={
    "name":"Seha",
    "age": 23,
    "is_adult":True
}
print(student["age"]) #data retrival

23

**Practical Questions**

In [31]:
# 1. Create a string with your name and print it
name = "Neha"
print(name)

Neha

In [32]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [33]:
# 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[0:3])

Pyt

In [34]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [35]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [36]:
# 6. Create a list with numbers 1 to 5 and print it
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [38]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst1 = [1, 2, 3, 4]
lst1.append(10)
print(lst1)

[1, 2, 3, 4, 10]

In [39]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [40]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
print(['a', 'b', 'c', 'd'][1])

b

In [41]:
# 10. Reverse the list [10, 20, 30, 40, 50]
lst3 = [10, 20, 30, 40, 50]
lst3.reverse()
print(lst3)

[50, 40, 30, 20, 10]

In [42]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
print((100, 200, 300))

(100, 200, 300)

In [43]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
print(('red', 'green', 'blue', 'yellow')[-2])

blue

In [44]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [45]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
print(('dog', 'cat', 'rabbit').index("cat"))

1

In [47]:
# 15. Create a tuple with 3 fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "kiwi")
if "kiwi" in fruits:
    print("Kiwi Available")
else:
    print("Kiwi isn't Available")

Kiwi Available

In [48]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
print(set(['a', 'b', 'c']))

{'b', 'c', 'a'}

In [49]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [50]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [51]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [52]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [53]:
# 21. Create a dictionary with keys "name", "age", "city", and print it
person = {"name": "Neha", "age": 25, "city": "Pune"}
print(person)

{'name': 'Neha', 'age': 25, 'city': 'Pune'}

In [54]:
# 22. Add a key "country": "USA" to the dictionary
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [55]:
# 23. Access the value for key "name" in the dictionary
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [56]:
# 24. Remove the key "age" from the dictionary
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop("age")
print(d)

{'name': 'Bob', 'city': 'New York'}

In [60]:
# 25. Check if "city" exists in the dictionary
stud_info={'name': 'Alice', 'city': 'Paris'}
if "city" in stud_info:
    print(stud_info["city"])
else:
    print("There is no city")

Paris

In [61]:
# 26. Create a list, tuple, and dictionary and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [63]:
# 27. Create a list of 5 random numbers between 1 and 100, sort, and print
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[14, 17, 57, 82, 97]

In [64]:
# 28. Create a list with strings and print element at third index
string_list = ["one", "two", "three", "four", "five"]
print(string_list[3])

four

In [67]:
# 29. Combine two dictionaries and print result
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [68]:
# 30. Convert a list of strings into a set
str_list = ["apple", "banana", "apple", "cherry"]
print(set(str_list))

{'apple', 'cherry', 'banana'}